<header>
<div class="site-title"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
</div>
{% if site.logo %}
  <div class="site-title"><img class="logo" src="{{site.logo | relative_url}}" alt="Logo" /></div>
{% endif %}

<p>We are Dmitry Molchanov and Julia Molchanova. We make VR games focused on intense locomotion.</p>

<ul class="social">
  <li class="twitter"><a href="https://twitter.com/hollowdilnik">@hollowdilnik</a></li>
  <li class="discord"><a href="https://discord.gg/d7gqjtKQm4">Discord server</a></li>
  <li class="itch"><a href="https://hollowdilnik.itch.io">hollowdilnik.itch.io</a></li>
  <li class="youtube"><a href="https://www.youtube.com/channel/UCZLPLWEfKYVd7HmA7GOPM-w">YouTube channel</a></li>
</ul>

<a class="privacy" href="/privacy.html">Privacy policy</a>
</header>
