<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">

      {% include side-panel.html %}

      <section class="games">
        <div class="itch-wide">
          <iframe src="https://itch.io/embed/1140740?border_width=0&amp;border_color=ffffff" width="560" height="165" frameborder="0"><a href="https://hollowdilnik.itch.io/deconcretizator">Deconcretizator by hollowdilnik</a></iframe>
        </div>
        <div class="itch-narrow">
          <a class="thumbnail" id="deconcretizator" href="https://hollowdilnik.itch.io/deconcretizator"></a>
          <iframe src="https://itch.io/embed/1140740?border_width=0&amp;border_color=ffffff" width="350" height="165" frameborder="0"><a href="https://hollowdilnik.itch.io/deconcretizator">Deconcretizator by hollowdilnik</a></iframe>
        </div>

        <div class="itch-wide">
<iframe src="https://itch.io/embed/1183998?border_width=0&amp;border_color=ffffff" width="560" height="165" frameborder="0"><a href="https://hollowdilnik.itch.io/in-space-no-one-can-hear-you-click">In SPACE no one can hear you CLICK by hollowdilnik</a></iframe>
        </div>
        <div class="itch-narrow">
          <a class="thumbnail" id="space-click" href="https://hollowdilnik.itch.io/in-space-no-one-can-hear-you-click"></a>
<iframe src="https://itch.io/embed/1183998?border_width=0&amp;border_color=ffffff" width="350" height="165" frameborder="0"><a href="https://hollowdilnik.itch.io/in-space-no-one-can-hear-you-click">In SPACE no one can hear you CLICK by hollowdilnik</a></iframe>
        </div>

      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
